body{
    background-color:#007965;
    color: white;
    margin-top: -19px;
}


h1{ font-family: 'New Rocker', cursive;
    margin-top:30px;
}


 .png{
     /* margin-left: 100px; */
     margin-top:40px;
 }
 @media (max-width: 576px) {
     #bg-image-blur {
         background-image: url('./images.png');
         background-position: center;
         background-repeat: no-repeat;
         background-size: 350px 310px;
         height: 100%;
         width: 100%;
         position: fixed;
         opacity: 0.4;
    }
    body {
        margin-top: 10px;
    }
} 
 

   

.navbar{
    color: #cdb30c;
}




